*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", Arial, sans-serif;
  padding: 0 50px;
  font-size: 16px;
}
a {
  display: block;
  text-decoration: none;
  color: #000000;
}
h1 {
  font-size: 22px;
  font-weight: 700;
}
h2 {
  font-size: 18px;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  font-weight: 700;
}
ul {
  list-style: none;
}
#icon {
  color: #0065fc;
}
#icon-grey {
  color: #f2f2f2;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}
header img {
  margin-top: 39px;
  height: 19px;
}
.header-list {
  display: flex;
}
.header-link:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-link {
  padding: 39px 28px 33px 37px;
}

/* MAIN */
form {
  max-width: 420px;
  padding-top: 20px;
}
.container-main h1 + p {
  margin-top: 8px;
}
.container-main p {
  font-weight: 400;
}
.container-form {
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 30px;
}
.container-form .input-field.first-wrap {
  flex-grow: 1;
  display: flex;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  height: 49px;
}

.container-form label {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.container-form .input-field input {
  border: 0;
  font-size: 16px;
}
.container-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 130%;
  color: #ffff;
  border: 0;
  cursor: pointer;
  background: #0065fc;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}
.container-form ::placeholder {
  color: #000000;
  opacity: 1;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.container-form #search {
  padding-left: 17px;
  width: 100%;
}
.container-form .input-field.second-wrap.mobile {
  display: none;
}
.container-filter {
  display: flex;
  align-items: center;
}
.container-filter .filter-item {
  display: flex;
  margin-left: 20px;
}
.container-filter button {
  padding: 14px 14px 14px 0;
  height: 50px;
  font-size: clamp(0.875rem, 0.4191rem + 0.7353vw, 1.0625rem);
  background: none;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin: 0 20px 0 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.container-filter button:hover {
  background: #deebff;
}
.container-filter .filter-icon {
  padding: 0 10px 0 20px;
}
.container-info {
  display: flex;
  align-items: flex-start;
  margin: 54px 0 54px 0;
}
.container-info p {
  padding-left: 11px;
  align-self: center;
}
/* ACCOMMODATIONS */
.container-cards {
  display: flex;
  gap: 40px;
}
.container-cards h1 {
  padding-top: 35px;
}
.container-cards .popular h1 {
  font-size: clamp(1.125rem, 0.5172rem + 0.9804vw, 1.375rem);
}
.container-cards h2 {
  padding: 35px 0 42px 4px;
}
.container-cards p {
  font-size: 14px;
}
.container-cards .accommodation,
.popular {
  background: #f2f2f2;
  padding: 0 35px 0 35px;
  border-radius: 20px;
}
.container-cards .accommodation {
  width: 69%;
}
.container-cards .accommodation-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.container-cards .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #ffffff;
  border-radius: 20px;
  width: min(33%, 246px);
  margin-top: 30px;
}
.container-cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.container-cards .link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  height: 199px;
}
.container-cards .contain {
  height: 124px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}
.container-cards .description {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding-left: 16px;
}
.container-cards .popular-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-cards .popular-icon {
  float: right;
}
.container-cards .popular {
  width: 33%;
}
.container-cards .card-popular {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #ffffff;
  border-radius: 20px;
  width: min(100%, 343px);
  margin-top: 30px;
}
.container-cards .card-popular:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.container-cards .link-popular {
  display: flex;
  flex-direction: row;
  height: 144px;
  cursor: pointer;
}
.container-cards .contain-popular {
  height: 144px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 0 0 20px;
  width: min(40%, 137px);
}
.container-cards .description-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding: 0px 15px 0px 15px;
}
.container-cards .popular-cards p {
  padding-top: 7px;
}
/* ACTIVITY */
.container-activity {
  margin-top: 60px;
}
.container-activity .activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.container-activity .card-activity {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  width: min(25%, 302px);
  margin-top: 19px;
  position: relative;
}
.container-activity .card-activity:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}
.container-activity .contain-activity {
  height: 444px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.container-activity .place {
  display: flex;
  height: 56px;
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.container-activity h3 {
  padding-left: 19px;
  margin: auto 0;
}

@media screen and (max-width: 992px) {
  .body {
    padding: 0 6rem;
  }
  .container-filter .filter-item {
    gap: 1rem;
  }
  .container-filter button {
    margin: 0;
    text-align: center;
    font-size: clamp(0.6875rem, -0.5982rem + 2.6786vw, 1.0625rem);
  }

  /* ACCOMMODATION */
  .container-cards {
    flex-direction: column;
  }
  .container-cards .accommodation {
    width: 100%;
  }
  .container-cards .popular {
    width: 100%;
  }
  .container-cards .popular-cards {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 48px;
  }
  .container-cards .card-popular {
    width: min(33%, 252px);
  }
  /* ACTIVITY */
  .container-activity .card-activity {
    width: min(25%, 182px);
    margin-top: 34px;
  }
  .container-activity .contain-activity {
    height: 267px;
  }
}

@media screen and (max-width: 768px) {
  /* HEADER */
  body {
    padding: 0;
  }
  header {
    align-items: center;
    flex-direction: column;
  }
  header img {
    margin-top: 21px;
    height: 19px;
  }
  .header-logo {
    text-align: center;
    margin-bottom: 48px;
  }
  .header-nav {
    width: 100%;
  }
  .header-link {
    padding-top: 0;
    border-bottom: 3px solid #f2f2f2;
  }
  .header-link:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }
  .header-item {
    width: 50%;
    text-align: center;
  }
  /* MAIN */
  form {
    max-width: 332px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-main {
    margin-top: 31px;
    padding: 0 1rem;
  }
  .container-form {
    padding-right: 0;
  }
  .container-form .input-field.second-wrap.desktop {
    display: none;
  }
  .container-form .input-field.second-wrap.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
  }
  .container-filter {
    flex-direction: column;
    align-items: flex-start;
  }
  .container-filter .title {
    margin-bottom: 15px;
  }

  .container-filter .filter-item {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0;
    gap: 17px 10px;
  }
  .container-filter button {
    font-size: 11px;
    width: 160px;
    margin: 0;
    text-align: left;
  }
  .container-filter .filter-icon {
    font-size: 17px;
    padding: 0 10px 0 5px;
  }
  .container-info {
    margin-top: 43px;
    align-items: flex-start;
  }
  /* ACCOMMODATION */
  .container-cards {
    flex-direction: column-reverse;
    gap: 0;
  }
  .container-cards .popular-cards,
  .accommodation-cards {
    flex-direction: column;
  }
  .container-cards .accommodation-cards {
    flex-wrap: nowrap;
  }
  .container-cards .accommodation,
  .popular {
    border-radius: 0;
    padding: 0;
  }
  .container-cards .accommodation h1,
  .container-cards .popular h1 {
    font-size: 22px;
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-cards .card-popular,
  .container-cards .card {
    width: min(100%, 335px);
  }
  .container-cards .accommodation {
    background: none;
  }
  .container-cards h2 {
    display: none;
  }
  /* ACTIVITY */
  .container-activity {
    margin-top: 105px;
  }
  .container-activity .activity-card {
    flex-direction: column;
    gap: 24px;
  }
  .container-activity .card-activity {
    width: min(100%, 334px);
    margin-top: 0;
  }
  .container-activity .contain-activity {
    height: 190px;
  }
}
